<div class="row footer">
		<div class="col-md-12">
		<p>SOCIAL PROFILES</p>
		<a href="#"><img class="social"  src="assets/img/bg-twitter.png" alt="social buttons"/></a>
		<a href="#"><img class="social"  src="assets/img/bg-behance.png" alt="social buttons"/></a>
		<a href="#"><img class="social" src="assets/img/bg-facebook.png" alt="social buttons"/></a>
<p>&copy;2015 GreyLessHues</p>
		</div>
	</div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="assets/js/scripts.js"></script>
	<script src="assets/pp/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>