<div class="element clearfix col1-3 border social">
          <h2>Social</h2>
		  <p>If you would like to follow me, you can join me on these social networks. </p>
        </div>
		
		<div class="element  clearfix  col1-3 social border">
		<div class="images"> <img src="/assets/img/socl/linkedin.png" alt="Ford Mustang" />
            <section class="hidden-infos"> 
			<a target="_blank" href="http://www.linkedin.com/in/asenethmiquiabas" ></a>
			
              <div class="overlay"></div>
               
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>LinkedIn</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
               <p>professional profile</p>
			 </div>
            </div>
          </div>
        </div>
		
<div class="element  clearfix  col1-3 social border">
		 <div class="images"> <img src="/assets/img/socl/vimeo.png" alt="Vimeo" />
            <section class="hidden-infos"> 
			<a target="_blank" href="https://vimeo.com/azssi" ></a>
			
              <div class="overlay"></div>
               
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Vimeo</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
               <p>share, like & comments are most welcome</p>
			 </div>
            </div>
          </div>
        </div>
		
<div class="element  clearfix  col1-3 social border">
		 <div class="images"> <img src="/assets/img/socl/insta.png" alt="instagram" />
            <section class="hidden-infos"> 
			<a target="_blank" href="//instagram.com/greylesshues/" ></a>
			
              <div class="overlay"></div>
               
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Instagram</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
               <p>follow me on instagram</p>
			 </div>
            </div>
          </div>
        </div>
		
<div class="element  clearfix  col1-3 social border">
		 <div class="images"> <img src="/assets/img/socl/skype.png" alt="twitter" />
            <section class="hidden-infos"> 
			<a target="_blank" href="skype:azssi2001@yahoo.com?add" ></a>
			
              <div class="overlay"></div>
               
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Skype</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
               <p>let’s connect</p>
			 </div>
            </div>
          </div>
        </div>
		
<div class="element  clearfix  col1-3 social border">
		 <div class="images"> <img src="/assets/img/socl/imdb.png" alt="imdb" />
            <section class="hidden-infos"> 
			<a target="_blank" href="http://www.imdb.com/name/nm3327949/" ></a>
			
              <div class="overlay"></div>
               
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>IMDB</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
               <p>professional project list</p>
			 </div>
            </div>
          </div>
        </div>
		
<div class="element  clearfix  col1-3 social border">
		 <div class="images"> <img src="/assets/img/socl/twitter.png" alt="twitter" />
            <section class="hidden-infos"> 
			<a target="_blank" href="https://twitter.com/greylesshues" ></a>
			
              <div class="overlay"></div>
               
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Twitter</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
               <p>shoot me a tweet sometime</p>
			 </div>
            </div>
          </div>
        </div>
		

		
