<!DOCTYPE html>
{% include head.html %}
<body>
<div id="wrap">
  <!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>

  {% include header.html %}
  
  <div id="content">
    <div class="container">
      <div id="container" class="clearfix">
	  
	  <!--Slider-->
        <div class="element  clearfix col2-3 home">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <div class="images">
                  <div class="overlay2"></div>
                  <img src="https://105173f9322b39887ae9a565e771fd59fa79afb4.googledrive.com/host/0B_NdsxRj1DjjcEx0UHA4OF9DNzA/si1/12.jpg" alt="slide 1" />
                  <div class="caption">
                    <p>1 <span>of</span> 2</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="images">
                  <div class="overlay2"></div>
                  <img src="https://105173f9322b39887ae9a565e771fd59fa79afb4.googledrive.com/host/0B_NdsxRj1DjjcEx0UHA4OF9DNzA/si1/09.jpg" alt="slide 2" />
                  <div class="caption">
                    <p>2 <span>of</span> 2</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
		<!--Slider-->
		
		
       
		
		
        <div class="element clearfix col1-3 border portfolio menu">
          <h2>Featured Works</h2>
          <p>Feel free to browse the whole portfolio at any time:</p>
          <p class="small"><a href="#filter=.poster,+.menu">Short & Feature Films <span class="arrow">→</span></a><br />
            <a href="#filter=.still,+.menu">Still Images <span class="arrow">→</span></a><br />
            <a href="#filter=.commercial,+.menu">Commercials <span class="arrow">→</span></a><br />
            <a href="#filter=.music,+.menu">Music Videos <span class="arrow">→</span></a><br />
			<a href="#filter=.reel,+.menu">Demo Reel <span class="arrow">→</span></a><br />
            <a href="#filter=.all,+.menu">View all <span class="arrow">→</span></a></p>
        </div>
		
		 <div class="element clearfix col1-3 border home">
          <h2>Welcome</h2>
          <p>Welcome to my little corner of the web. Have a look around and enjoy your stay. The gallery contains all of my professional works including the most recent ones. </p>
         
        </div>
		
		 <div class="element  clearfix col1-3 double home ">
          <div class="images"> <img src="https://105173f9322b39887ae9a565e771fd59fa79afb4.googledrive.com/host/0B_NdsxRj1DjjcEx0UHA4OF9DNzA/thumb/featurefilms&shortfilms.jpg" alt="{{post.title}}" />
            <section class="hidden-infos"> 
			<a href="{{post.video}}" class="popup" title="">
			
              <div class="overlay"></div>
              <div class="icons more"></div>
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Posters Gallery</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
                <p>Short & Feature Films</p>
              </div>
            </div>
          </div>
        </div>
		
			
{{ content }}
		
		{% include contact.html %}
		
		 <div class="element clearfix col1-3 border home">
          <h2>Clients</h2>
          <p>Nescafe<br />
            Ford Mustang<br />
            Coca-Cola<br />
            Sony<br />
            Mistubishi<br />
            Downy<br />
            Izusu<br />
			Dutchmill
          </p>
        </div>
		
		<div class="element clearfix col1-3 border home contact">
          <h2>Contact</h2>
           <p> E-Mail: <a href="mailto:aseneth@greylesshues.com" title="">aseneth@greylesshues.com</a><br />
            Phone: +66917103857</p>
          <p> You can also drop us a line by using the <a href="#filter=.contact">contact form</a>.</p>
        </div>
      
		
		
		<div class="element  clearfix col2-3 half about ">
          <div class="images"> <img src="http://105173f9322b39887ae9a565e771fd59fa79afb4.googledrive.com/host/0B_NdsxRj1DjjcEx0UHA4OF9DNzA/pp/profilepicture.jpg" alt="" />
            <section class="hidden-infos"> 
			<a href="https://105173f9322b39887ae9a565e771fd59fa79afb4.googledrive.com/host/0B_NdsxRj1DjjcEx0UHA4OF9DNzA/pp/profilepicture.jpg" class="popup" title=""></a>
              <div class="overlay"></div>
              <div class="icons profile"></div>
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3> </h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
                <p> </p>
              </div>
            </div>
          </div>
        </div>
		
		 <div class="element clearfix col1-3 border about">
          <h2>About</h2>
		  <p><br />After completing a degree in digital illustration and animation, Aseneth Miquiabas began her career in the vfx industry as a 3d artist and compositor in 2005. </p>



        </div>
		
		<div class="element clearfix col1-1 border about">
         <p class="padding-reset">Her experience as a compositor has helped nurture a burgeoning interest in the application of color theories and the numerous in which tints and shades accentuate visual story telling. She humbly began learning her craft from the ground up starting as an assistant colorist trying her hand in dailies. After months of toil, she was finally given the opportunity to blossom and further realize her love for the craft and art of digital colouring.</p> 

		 <p class="padding-reset">Since her beginnings in the Philippines, she has taken great strides in furthering her career through various stints across South East Asia in countries like Indonesia, Malaysia, and now in one of the busiest industries in Thailand. Each and everyone of those journeys has helped her appreciate the various subtleties expected of directors and clients belonging to these various cultures, and how these subtle expectations can impact the look and style of the final shot.</p> 

<p class="padding-reset">Through her many stints and extensive training, Aseneth has become proficient in the use of a vast array of tools to suit a project's needs such as Nucoda, Film Master/ Film Cutter, Film Light Baselight 4, Assimilate Scratch, and Davinci Resolve.</p>

<p class="padding-reset mb10">As an artist always seeking growth, she is well aware of her limitations and especially aware of the vastness of the world around her in terms of talents and projects. Regardless of the grueling nature of the career at times, She is nevertheless intent on pursuing this love for all things grading regardless of where it takes her as she will forever remain a student of the craft always seeking to hone it.</p>



        </div>
		
		{% include social.html %}
		
		
      </div>
      <!-- end container -->
    </div>
  </div>
  <!-- end content -->
</div>
<!-- end wrap -->
{% include footer.html %}
</body>
</html>