<!DOCTYPE html>
{% include head.html %}
<body>
<div id="wrap">
  <!-- Preloader -->
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>

  {% include header.html %}
  
  <div id="content">
    <div class="container">
      <div id="container" class="clearfix">
	  
	  <!--Slider-->
        <div class="element  clearfix col2-3 home">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <div class="images">
                  <div class="overlay2"></div>
                  <img src="/assets/images/slide01.jpg" alt="" />
                  <div class="caption">
                    <p>1 <span>of</span> 2</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="images">
                  <div class="overlay2"></div>
                  <img src="/assets/images/slide02.jpg" alt="" />
                  <div class="caption">
                    <p>2 <span>of</span> 2</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
		<!--Slider-->
		
		
       
		
		
        <div class="element clearfix col1-3 border portfolio menu">
          <h2>Featured Works</h2>
          <p>Feel free to browse the whole portfolio at any time:</p>
          <p class="small"><a href="#filter=.webdesign,+.menu">Webdesign <span class="arrow">→</span></a><br />
            <a href="#filter=.print,+.menu">Print <span class="arrow">→</span></a><br />
            <a href="#filter=.illustration,+.menu">Illustration <span class="arrow">→</span></a><br />
            <a href="#filter=.video,+.menu">Video <span class="arrow">→</span></a><br />
            <a href="#filter=.all,+.menu">View all <span class="arrow">→</span></a></p>
        </div>
		
		
        <div class="element  clearfix col2-3 half home video portfolio all">
          <div class="images"> <img src="/assets/img/colorgradingreelmontage.jpg" alt="" />
            <section class="hidden-infos"> 
			<!--<a href="images/pic01.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup"></a>-->
			<a href="https://drive.google.com/file/d/0B_NdsxRj1DjjN2h3SzV1aFd4UlE/preview" class="video-popup" title=""></a>
              <div class="overlay"></div>
              <div class="icons zoom"></div>
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>COLOR GRADING REEL MONTAGE</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
                <p>Commercial</p>
              </div>
            </div>
          </div>
        </div>
		
		 <div class="element clearfix col1-3 border home">
          <h2>Welcome</h2>
          <p>Hi, we’re Greenwich Village! Lorem ipsum dolor sit amet elitar. Integer commodo tristique odio, quis fringilla ligula aliquet utpisci. </p>
          <p class="small bottom"><a href="#filter=.blog">See our stuff on behance.</a></p>
        </div>
		
       <!-- <div class="element  clearfix col1-3 double illustration portfolio all">
          <div class="images"> <img src="/assets/images/pic08.jpg" alt="" />
            <section class="hidden-infos"> <a href="work.html" data-title="Project Title Here"></a>
              <div class="overlay"></div>
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Long Way</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
                <p>illustration.</p>
              </div>
            </div>
          </div>
        </div>-->
		
{{ content }}
		
		{% include contact.html %}
		
		
		
        <div class="element  clearfix col2-3 half print portfolio all">
          <div class="images"> <img src="/assets/images/pic07.jpg" alt="" />
            <section class="hidden-infos"> <a href="images/pic07.jpg" data-title="Project Title Here" data-fancybox-group="group1" class="popup"></a>
              <div class="overlay"></div>
              <div class="icons zoom"></div>
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Musician</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
                <p>print.</p>
              </div>
            </div>
          </div>
        </div>
		
		
        <div class="element  clearfix col1-3 portfolio webdesign print all">
          <div class="images"> <img src="/assets/images/pic10.jpg" alt="" />
            <section class="hidden-infos"> <a href="work.html" data-title="Project Title Here"></a>
              <div class="overlay"></div>
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Red Train</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
                <p>webdesign. print.</p>
              </div>
            </div>
          </div>
        </div>
		
		
      
		
		<!-- Services -->
        <div class="element clearfix col1-3 double border services">
          <h2>What we Offer</h2>
          <h3>Option A</h3>
          <p>Is my passion sapien massa, a imperdiet diam. Aliquam erat volutpat. </p>
          <ol>
            <li>Webdesign</li>
            <li>Print</li>
            <li>Illustration</li>
          </ol>
          <h3>Option B</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <p>Phasellus leo ante, posuere in fringilla vitae, pretium at dui. Fusce et neque quis odio gravida auctor vel non mauris. Vivamus gravida aliquet eros. Integer commodo tristique. </p>
          <p class="small bottom"><a href="#filter=.contact">Drop us a line.</a></p>
        </div>
		
		
        <div class="element  clearfix col2-3 half services">
          <div class="images"> <img src="/assets/images/slide03.jpg" alt="" />
            <section class="hidden-infos"> <a href="https://105173f9322b39887ae9a565e771fd59fa79afb4.googledrive.com/host/0B_NdsxRj1DjjcEx0UHA4OF9DNzA/sonyexperia.mov" class="video-popup" title=""></a>
              <div class="overlay"></div>
              <div class="icons video"></div>
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Watch the video</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
                <p>on vimeo.</p>
              </div>
            </div>
          </div>
        </div>
		
		
        <div class="element  clearfix col1-3 services">
          <div class="images"> <img src="/assets/images/pic06.jpg" alt="" />
            <section class="hidden-infos"> <a href="#" data-title="Project Title Here"></a>
              <div class="overlay"></div>
              <div class="icons detail"></div>
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Download Package</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
                <p>in pdf format.</p>
              </div>
            </div>
          </div>
        </div>
		
		
        <div class="element clearfix col1-3 border services">
          <div class="icons quote"></div>
          <p class="no-h2">“ This could be a blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla. ” </p>
          <p class="small bottom">John Doe, Company Ltd</p>
        </div>
		<!-- Services -->
		
        <div class="element  clearfix col1-3 about ">
          <div class="movable-content">
            <div class="images"> <img src="/assets/images/about01.jpg" alt="" />
              <section class="hidden-infos">
                <div class="overlay"></div>
                <div class="icons profile"></div>
              </section>
              <div class="title">
                <div class="title-wrap">
                  <h3>John McDougal</h3>
                </div>
              </div>
              <div class="subtitle">
                <div class="subtitle-wrap">
                  <p>co-founder. CEO.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix complete-border centered hidden">
            <p class="no-h2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida aliquet eros. Integer commodo tristique odio, quis fringilla. </p>
            <ul class="social clearfix">
              <li class="skype"><a href="#" onClick="return false">Visit our skype Account</a></li>
              <li class="googleplus"><a href="#" onClick="return false">Visit our googleplus Account</a></li>
              <li class="linkedin"><a href="#" onClick="return false">Visit our linkedin Account</a></li>
            </ul>
          </div>
        </div>
		
		
        <div class="element  clearfix col1-3 about">
          <div class="images"> <img src="/assets/images/about02.jpg" alt="" />
            <section class="hidden-infos"> <a href="mailto:info@domain.com"></a>
              <div class="overlay"></div>
              <div class="icons email"></div>
            </section>
            <div class="title">
              <div class="title-wrap">
                <h3>Rachel Black</h3>
              </div>
            </div>
            <div class="subtitle">
              <div class="subtitle-wrap">
                <p>co-founder. designer.</p>
              </div>
            </div>
          </div>
        </div>
		
		
        <div class="element  clearfix col1-3 about">
          <div class="movable-content">
            <div class="images"> <img src="/assets/images/about03.jpg" alt="" />
              <section class="hidden-infos">
                <div class="overlay"></div>
                <div class="icons profile"></div>
              </section>
              <div class="title">
                <div class="title-wrap">
                  <h3>Tim Smith</h3>
                </div>
              </div>
              <div class="subtitle">
                <div class="subtitle-wrap">
                  <p>developer.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix complete-border centered hidden">
            <p class="no-h2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida aliquet eros. Integer commodo tristique odio, quis fringilla. </p>
            <ul class="social clearfix">
              <li class="skype"><a href="#" onClick="return false">Visit our skype Account</a></li>
              <li class="googleplus"><a href="#" onClick="return false">Visit our googleplus Account</a></li>
            </ul>
          </div>
        </div>
		
		
        <div class="element clearfix col1-3 border about">
          <h2>Clients</h2>
          <p>Microsoft<br />
            Apple<br />
            BMW Group USA<br />
            DELL Computer<br />
            Envato Pty Ltd<br />
            Coca-Cola Beverages<br />
            Samsung<br />
          </p>
        </div>
		
		
        <div class="element clearfix col1-3 border blog auto">
          <h2>Our Blog</h2>
          <p><a href="post.html">We Appreciate Any Kind of Feedback <span class="arrow">→</span></a><br />
            <span class="small">by John McDougal</span></p>
          <p><a href="post.html">Post with a Quote <span class="arrow">→</span></a><br />
            <span class="small">by John Doe</span></p>
          <p><a href="post.html">We Boost Your Sales <span class="arrow">→</span></a><br />
            <span class="small">by Rachel Black</span></p>
          <p><a href="post.html">Post with a Really Awesome Slideshow <span class="arrow">→</span></a><br />
            <span class="small">by Admin</span></p>
          <p><a href="post.html">Ok, One Last Post <span class="arrow">→</span></a><br />
            <span class="small">by Rachel Black</span></p>
        </div>
		
		
        <div class="element clearfix col1-3 complete-border blog">
          <div class="icons tags"></div>
          <h2>Tags</h2>
          <p>Anything &middot; jQuery &middot; Slideshows &middot; Quotes &middot; Cool Stuff &middot; Any Tag &middot; HTML5 &middot; Templates</p>
        </div>
		
		
        <div class="element clearfix col1-3 border blog auto">
          <h2>Categories</h2>
          <p>Feel free to browse through our Archives:</p>
          <ul class="unordered-list">
            <li>Webdesign</li>
            <li>Illustration</li>
            <li>Videos</li>
          </ul>
        </div>
		
		
      </div>
      <!-- end container -->
    </div>
  </div>
  <!-- end content -->
</div>
<!-- end wrap -->
{% include footer.html %}
</body>
</html>