---
layout: work
---	
 <div class="element  clearfix col1-1 home video portfolio all">
          <div class="images"> 
		   {% if page.image2 %}  <img src="{{page.image2}}" alt="{{page.title}}" /> {% else %} <img src="{{page.image}}" alt="{{page.title}}" /> {% endif %}
          </div>
        </div>
		  
		 
        <div class="element clearfix col2-3 complete-border home ">
          <h2>{{page.title}}</h2>
          <p>{{content}} </p>
               </div>
			   
        <div class="element clearfix col1-3 border home">
          <h2>Project Details</h2>
		  <p>Visit IMDB for more details</p>
          <p><br /></p>
           {% if page.imdb %} <p class="text-center"><a target="_blank" href="{{page.imdb}}"><img src="/assets/img/socl/imdb2.png" /></a></p>{% endif %}
        </div>
		
		 <div class="element clearfix col1-3 border home">
          <h2>Share</h2>
          <ul class="unordered-list">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Google+</li>
            <li>Pinterest</li>
          </ul>
          
        </div>